.profile__subtitle{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 287px;
}

@media screen and (max-width : 740px){
    .profile__subtitle{
        text-align: center;
        margin: 0 auto 36px;
    }
}
@media screen and (max-width : 425px){
    .profile__subtitle{
        font-size: 14px;
        line-height: 17px;
    }
}
