.register__button{
    width: 358px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;    
    text-align: center;
    color: #000000;
    outline: none;
    cursor: pointer;
    border: none;
    margin-top: 216px;
}

.register__button:hover{
    opacity: 0.85;
    transition: .2s;
}