.popup-pluse__content{
    width:350px;
    height:260px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width : 620px){
    .popup-pluse__content{
       width:200px;
      height:198px;
    }
}