.popup-pluse__input-link{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
}

@media screen and (max-width : 620px){
   .popup-pluse__input-link{
        font-size: 12px;
        line-height: 15px;
    }   
}
