.login__input-password{
    border: none;
    outline: none;
    padding-bottom: 10px;
    border-bottom:  2px solid #CCCCCC;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    background: black;
    padding-left: 0;
    margin-top: 30px;
    width: 358px;
    color: #CCCCCC;
}