@import url(./__logo/header__logo.css);
@import url(./__button/header__button.css);
@import url(./__email/header__email.css);
@import url(./__box/header__box.css);

.header{
    margin: 45px auto auto auto;
    max-width:  882px;
    border-bottom: 1px solid rgba(84, 84, 84, .7); 
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width : 950px){
    .header{
        max-width: 92.84vw;
    }
}

@media screen and (max-width : 425px){
    .header{
        margin: 28px auto auto auto;
        max-width: 425px;
        padding-bottom: 30px;
    }
}